@import "tailwindcss";

/* css変数を使って定義 */
:root {
  --bg-app: #bfbfbf;
  --bg-control: white;
  --bg-textarea-wrap: var(--bg-app);
  --bg-textarea: white;
  --bg-textarea-disabled: #ccc;
  --bg-memo: #f5f5f5;
  --bg-memo-current: pink;
  --bg-btn-add: #eb2c2c;
  --bg-btn-delete: mediumturquoise;
  --bg-btn-export: lightgreen;
  --bg-btn-import: lightblue;
  --bg-input-search: bisque;

  --text-color: black;
  --text-color-muted: #888;
  --outline-color-input-search: green;
  --outline-color-memo: palevioletred;
  --border-color-memo: rgba(0, 0, 0, 0.3);

  --width-app: 680px;
  --height-app: 100%;
  --height-control: 217px;
  --width-input-search: 100%;
  --height-input-search: 40px;
  --height-textarea: 320px;

  --letter-spacing: 0.05em;
}
button,
a {
  transition: opacity 0.2s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
