@import "tailwindcss";

/* css変数を使って定義 */
:root {
  --bg-app: #333;
  --bg-control: white;
  --bg-textarea: white;
  --bg-textarea-disabled: #ccc;
  --bg-memo: yellow;
  --bg-memo-current: pink;
  --bg-btn-add: orange;
  --bg-btn-delete: green;

  --text-color: black;

  --width-app: 600px;
  --height-app: 100%;
  --height-control: 200px;
  --height-textarea: 300px;
}
button,a {
  transition: opacity 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}